


.inconsolata-calculatrice {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings:
        "wght" 400, 
        "wdth" 100; 
}


.orbitron-nombres {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings:
      "wght" 400, 
      "wdth" 100; 
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
 

body {
    font-family: "Pacifico";
    /* background: linear-gradient(135deg, rgb(207, 1, 121) 0%, rgb(249, 72, 181) 50%, rgb(249, 130, 223) 100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/school-supplies-art-classes.jpg);
    background-size: cover;
}
  h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .calculator {
    background-color: rgb(175, 74, 185);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    border-bottom:rgb(138, 65, 145) solid 5px;
    border-right:rgb(138, 65, 145) solid 5px;
    border-top:rgb(195, 84, 205) solid 5px;
    border-left:rgb(195, 84, 205) solid 5px;

  }

  
  #result {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    border-top: inset 2px rgb(195, 84, 205); 
    border-left: inset 2px rgb(195, 84, 205);
    border-bottom: inset 2px rgb(150, 68, 158);
    border-right: inset 2px rgb(147, 80, 153); 
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgb(207, 1, 121) 0%, rgb(249, 72, 181) 50%, rgb(249, 130, 223) 100%);
    font-family: Orbitron;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 0.2);
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  button {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: grab;
    background-color: #e0e0e0;
    color: black;
    font-family: Orbitron;
    border-right: 3px solid #a49d9d;
    border-bottom: 3px solid #a49d9d;
    border-top: 3px solid #f1f1f1;
    border-left: 3px solid #f1f1f1;
  }
  
  button:hover {
    background-color: #d0d0d0;
  }
  
  #clear, #add, #subtract, #multi, #division {
    background-color: #722078;
    border-right: 3px solid #421245;
    border-bottom: 3px solid #421245;
    border-top: 3px solid #712c76;
    border-left: 3px solid #712c76;
    color: white;

  }
  
  #equal {
    background: linear-gradient(135deg, rgb(186, 55, 162) 0%, rgb(210, 94, 207) 50%, rgb(248, 143, 250) 100%);
    color: white;
    border-bottom: 3px solid #7b1682;
    border-right: 3px solid #7b1682;
    border-left: 3px solid #c14dc9;
    border-top: 3px solid #c14dc9;
    
  }